fastapi
uvicorn[standard]
pydantic
psycopg2-binary
python-dotenv
pandas
numpy
sentence-transformers
torch
tqdm
scikit-learn
pgvector
requests
PyYAML
supabase
kaggle
datasets
docling
FlagEmbedding
qdrant-client>=1.12,<1.14
pinecone>=6,<8
notebook
