KAGGLE_USERNAME=
KAGGLE_KEY=

STORE_DB=1
DATABASE_URL=postgresql://jdcvcns:jdcvcns_dev_password@localhost:5432/jdcvcns
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=jdcvcns
POSTGRES_PASSWORD=jdcvcns_dev_password
POSTGRES_DB=jdcvcns

QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=jd_bgem3_collection

BGE_M3_MODEL=BAAI/bge-m3
BGE_BATCH_SIZE=16
PREFETCH_MULTIPLIER=4
EXPORT_HTML=0
TOP_K=10
HF_HOME=.cache/huggingface
SENTENCE_TRANSFORMERS_HOME=.cache/sentence-transformers
EMBEDDING_MODEL=AITeamVN/Vietnamese_Embedding_v2
